 #version=RHEL8
 #v2
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --all --initlabel
# Use text install
text
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp0s3 --ipv6=auto --activate --ip=192.168.150.200 --netmask=255.255.255.0 --gateway=192.168.150.1 --nameserver=192.168.150.1
#network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=todoapp.bcit.local

url --url=http://192.168.150.10/centos/
repo --name=epel --baseurl=https://dl.fedoraproject.org/pub/epel/$releasever/Everything/$basearch/ --install


# Root password
rootpw --iscrypted $6$XaCqfiiBHQs1wZbz$OSyXSBxC5vN81dp.EwK95AFkSkMINR23SGnmB.GxTTTE3Nj1qLCcvrp6WlBUFxqouaYxpZiR7wBvFMnRtEtqg1
# Run the Setup Agent on first boot
firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/Vancouver --isUtc
# Selinux
selinux --disabled
# Firewall
firewall --port=8080
firewall --service=http
firewall --service=https
# Create Users
user --name=todoapp --password=password
user --name=admin --password=password

reboot

%packages
@minimal-environment
epel-release
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

%post
SETUP=http://192.168.150.10/setup/
sed -r -i 's/^(%wheel\s+ALL=\(ALL\)\s+)(ALL)$/\1NOPASSWD: ALL/' /etc/sudoers
sed -i 's/^#\s*\(%wheel\s*ALL=(ALL)\s*NOPASSWD:\s*ALL\)/\1/' /etc/sudoers
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-EPEL-8
dnf install wget -y
cd /home/admin
mkdir setup
wget ${SETUP}/config -P setup
wget ${SETUP}/database.js -P setup
wget ${SETUP}/install_script.sh -P setup
wget ${SETUP}/nginx.conf -P setup
wget ${SETUP}/todoapp.service -P setup
wget ${SETUP}/mongodb-org -P setup
wget ${SETUP}/acit_admin_id_rsa.pub -P setup
cd setup
chmod 777 install_script.sh
./install_script.sh
chmod 600 acit_admin_id_rsa.pub
ssh-copy-id -i acit_admin_id_rsa.pub admin@localhost -p 8022
%end